@{
    ViewBag.Title = AtlasSolar.Resources.Common.MainPage;
}
<!-- second menu bar -->
<!-- 2-column layout -->
<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <!-- column 1 -->
            <div class="col-sm-6">
                <!-- box 1 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="@Url.Action("Main", "Maps", new { map = "avg_dnr" })">
                            <h3 class="panel-title">@AtlasSolar.Resources.Info.Map1Title</h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="min-j">
                            <a href="@Url.Action("Main", "Maps", new { map = "avg_dnr" })">
                                <img src="img/sl4.jpg" />
                            </a>
                        </div>
                        <p>@AtlasSolar.Resources.Info.Map1Description</p>
                    </div>
                </div>
                <!-- box 2 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="@Url.Action("Main", "Maps", new { map = "t10m" })">
                            <h3 class="panel-title">@AtlasSolar.Resources.Info.Map2Title</h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="min-j">
                            <a href="@Url.Action("Main", "Maps", new { map = "t10m" })">
                                <img src="img/sl6.jpg" />
                            </a>
                        </div>
                        <p>@AtlasSolar.Resources.Info.Map2Description</p>
                    </div>
                </div>
            </div>
            <!-- /column 1 -->
            <!-- column 2 -->
            <div class="col-sm-6">
                <!-- box 3 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="@Url.Action("Main", "Maps", new { map = "factor" })">
                            <h3 class="panel-title">@AtlasSolar.Resources.Info.Map3Title</h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="min-j">
                            <a href="@Url.Action("Main", "Maps", new { map = "factor" })">
                                <img src="img/sl5.jpg" />
                            </a>
                        </div>
                        <p>@AtlasSolar.Resources.Info.Map3Description</p>
                    </div>
                </div>
                <!-- box 4 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="@Url.Action("Main", "Maps", new { map = "solar" })">
                            <h3 class="panel-title">@AtlasSolar.Resources.Info.Map4Title</h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="min-j">
                            <a href="@Url.Action("Main", "Maps", new { map = "solar" })">
                                <img src="img/sl7.jpg" />
                            </a>
                        </div>
                        <p>@AtlasSolar.Resources.Info.Map4Description</p>
                    </div>
                </div>
            </div>
            <!-- /column 2 -->
        </div>
        <!--/row-->
    </div>
    <!--/span-->
    <!-- column 3 (sidebar) -->
    <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group" role="navigation"> </div>
        <a href="http://ecosolar.kz/" style="margin-bottom: 10px;">
            <img src="~/img/ecosolar_logo.png" />
            <img src="~/img/ecosolar_name.png" />
        </a>
    </div>
    <!-- /column 3 (sidebar) -->
</div>
<!-- box 3 -->
<div>
    <div class="panel-body">
        <div class="min-j">
            <a>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/bEBEKigbAA0" frameborder="0" allowfullscreen></iframe>
            </a>
        </div>
    </div>
</div>