@model AtlasSolar.Models.SPP

@{
    ViewBag.Title = AtlasSolar.Resources.Common.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AtlasSolar.Resources.Common.Delete</h2>

<h3>@AtlasSolar.Resources.Common.Delete?</h3>
<div>
    <h4>@AtlasSolar.Resources.Common.SPP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PanelOrientation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PanelOrientation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPPPurpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPPPurpose.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPPStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPPStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Power)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Power)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Startup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Startup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Investor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Investor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Executor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Executor)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CapacityFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapacityFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @{
                var base64 = "";
                var imgSrc = "";
                if (Model.Photo != null)
                {
                    base64 = Convert.ToBase64String(Model.Photo);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
            }
            <img src="@imgSrc" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinates)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@AtlasSolar.Resources.Common.Delete" class="btn btn-default" /> |
            @Html.ActionLink(AtlasSolar.Resources.Common.BackToList, "Index")
        </div>
    }
</div>
