@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = AtlasSolar.Resources.Common.Manage, @style="font-size: 100%;" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="font-size: 100%;">@AtlasSolar.Resources.Common.LogOff</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(AtlasSolar.Resources.Common.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(AtlasSolar.Resources.Common.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
