@model AtlasSolar.Models.Lepmtrl

@{
    ViewBag.Title = AtlasSolar.Resources.Common.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AtlasSolar.Resources.Common.Details</h2>

<div>
    <h4>@AtlasSolar.Resources.Common.Lepmtrl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameKZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameKZ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameRU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameRU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(AtlasSolar.Resources.Common.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(AtlasSolar.Resources.Common.BackToList, "Index")
</p>