@model AtlasSolar.Models.IndexViewModel
@{
    ViewBag.Title = AtlasSolar.Resources.Common.Manage;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@AtlasSolar.Resources.Common.ChangeYourAccountSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@AtlasSolar.Resources.Common.Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(AtlasSolar.Resources.Common.ChangePassword, "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
