
@{
    ViewBag.Title = AtlasSolar.Resources.Common.Moderator;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AtlasSolar.Resources.Common.Moderator</h2>

@{
    if (System.Threading.Thread.CurrentThread.CurrentCulture != null)
    {
        if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "ru")
        {
            <legend>Энергетика</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/ApplianceTypes">
                                <button type="submit">Типы приборов</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Типы приборов</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Appliances">
                                <button type="submit">Приборы</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Приборы</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/PVSystemMaterials">
                                <button type="submit">Материалы PV систем</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Материалы PV систем</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/PanelOrientations">
                                <button type="submit">Ориентации панелей</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Ориентации панелей</p>
                        </td>
                    </tr>
                </table>
            </div>
            <legend>Метеорология</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/MeteoDataTypes">
                                <button type="submit">Типы метеоданных</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Типы метеоданных</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Statistics">
                                <button type="submit">Статистика</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Статистика</p>
                        </td>
                    </tr>

                </table>
            </div>
            <legend>Слои</legend>
            <div class="table-content b">
                <table>
                    <tr>
                        <td>
                            <form action="/SPPs">
                                <button type="submit">Солнечные электростанции</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Солнечные электростанции</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/MapDescriptions">
                                <button type="submit">@AtlasSolar.Resources.Common.MapDescriptions</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>@AtlasSolar.Resources.Common.MapDescriptions</p>
                        </td>
                    </tr>
                </table>
            </div>
        }
        else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "kk")
        {
            <legend>Энергетика</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/ApplianceTypes">
                                <button type="submit">Типы приборов</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Типы приборов</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Appliances">
                                <button type="submit">Приборы</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Приборы</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/PVSystemMaterials">
                                <button type="submit">Материалы PV систем</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Материалы PV систем</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/PanelOrientations">
                                <button type="submit">Ориентации панелей</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Ориентации панелей</p>
                        </td>
                    </tr>
                </table>
            </div>
            <legend>Метеорология</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/MeteoDataTypes">
                                <button type="submit">Типы метеоданных</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Типы метеоданных</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Statistics">
                                <button type="submit">Статистика</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Статистика</p>
                        </td>
                    </tr>

                </table>
            </div>
            <legend>Слои</legend>
            <div class="table-content b">
                <table>
                    <tr>
                        <td>
                            <form action="/SPPs">
                                <button type="submit">Солнечные электростанции</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Солнечные электростанции</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/MapDescriptions">
                                <button type="submit">@AtlasSolar.Resources.Common.MapDescriptions</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>@AtlasSolar.Resources.Common.MapDescriptions</p>
                        </td>
                    </tr>
                </table>
            </div>
        }
        else
        {
            <legend>Energetics</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/ApplianceTypes">
                                <button type="submit">Types of appliances</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Types of appliances</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Appliances">
                                <button type="submit">Appliances</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Appliances</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/PVSystemMaterials">
                                <button type="submit">PV systems materials</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>PV systems materials</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/PanelOrientations">
                                <button type="submit">Panel Orientations</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Panel Orientations</p>
                        </td>
                    </tr>
                </table>
            </div>
            <legend>Meteorology</legend>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <form action="/MeteoDataTypes">
                                <button type="submit">Weather Types</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Weather Types</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/Statistics">
                                <button type="submit">Statistics</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Statistics</p>
                        </td>
                    </tr>

                </table>
            </div>
            <legend>Layers</legend>
            <div class="table-content b">
                <table>
                    <tr>
                        <td>
                            <form action="/SPPs">
                                <button type="submit">Solar power plants</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>Solar power plants</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/MapDescriptions">
                                <button type="submit">@AtlasSolar.Resources.Common.MapDescriptions</button>
                            </form>
                        </td>
                        <td id="descrip">
                            <p>@AtlasSolar.Resources.Common.MapDescriptions</p>
                        </td>
                    </tr>
                </table>
            </div>
        }
    }
}
